.footer {
    background: var(--bg-color); /* Black background */
    color: #fff; /* White text */
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 20px;
    min-width: 200px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section p {
    line-height: 1.5;
  }
  
  .footer-section form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .footer-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--elite-red);
    color: #fff;
    cursor: pointer;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #333;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  